* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --principal: #ED6C1B;
    --gris: #f4f4f4;
    --texto: #333;
}

body {
    color: var(--texto);
    line-height: 1.6;
}

/* Header */

header {
    background: var(--principal);
    color: white;
    text-align: center;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 260px;
    margin-bottom: 10px;
}

/* Nav */

nav {
    background: #333;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

nav a:hover {
    background: var(--principal);
}

/* Sections */

.section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

.gray {
    background: var(--gris);
}

.section h2 {
    text-align: center;
    color: var(--principal);
    margin-bottom: 10px;
}

/* Audio button */

.audio-btn {
    background: var(--principal);
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    margin: 15px auto 25px auto;
    min-width: 220px;
}

.audio-btn.playing {
    padding: 16px 28px;
}

.audio-text {
    pointer-events: none;
}

/* Bar */

.audio-bar {
    width: 100%;
    height: 5px;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.audio-btn.playing .audio-bar {
    display: block;
}

.audio-progress {
    display: block;      /* <- ESTO ARREGLA TODO */
    height: 100%;
    width: 0%;
    background: white;
    border-radius: 5px;
}


/* Form */

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 12px;
    padding: 10px;
}

form button {
    background: var(--principal);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Footer */

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Cursor */

.cursor-box {
    width: 12px;
    height: 12px;
    background: var(--principal);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
